<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>NSCamerausageDescription</key>
	<string>I need access to save the image</string>
	<key>NSLocalNotificationUsageDescription</key>
	<string>This app needs permission to send notifications.</string>
	<key>NSPhotolibraryUsagedescription</key>
	<string>We need access to your library</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Allow access for notifications</string>
</dict>
</plist>
